# Sample .env file. 
# replace "SITE_URL" with your website url
# change "Report Configuration" and "PDF Settings" if needed


# Google Search Console API Configuration
GOOGLE_CLIENT_SECRETS_FILE=client_secrets.json
GOOGLE_TOKEN_FILE=token.json
GOOGLE_SCOPES=https://www.googleapis.com/auth/webmasters.readonly

# Website Configuration
SITE_URL=https://your-website.com/
URLS_TO_INSPECT=/about,/contact,/blog,/products,/services

# Report Configuration
REPORT_DAYS_BACK=28
REPORT_TITLE=Отчёт Google Search Console
COMPANY_NAME=Yout website namee
REPORT_OUTPUT_DIR=reports
CHARTS_OUTPUT_DIR=charts
SECTION_METRICS=true
SECTION_TOP_QUERIES=true
SECTION_TOP_COUNTRIES=true
SECTION_DEVICES=true
SECTION_INSPECTION=true
SECTION_CHARTS=true

# Theme settings
THEME=GRAY

# PDF Settings
PDF_PAGE_SIZE=letter
PDF_LEFT_MARGIN=72
PDF_RIGHT_MARGIN=72
PDF_TOP_MARGIN=72
PDF_BOTTOM_MARGIN=72